<div class="top-booking-card">
    <div class="header">
        <div class="gem">
            <i class="bi bi-gem icolor"></i>
            <span class="rare-find-badge">Rare find! This place is usually booked</span>
        </div>
       
    </div>
</div>
  

<div class="booking-card">
    
    
    <div class="price-section">
      <div class="price">151,828 <span class="currency">EGP</span></div>
      <div class="duration">for 7 nights</div>
    </div>
    
    <div class="dates-container">
        <div class="update">
            <div class="date-row">
                <div class="date-label">CHECK-IN</div>
                <div class="date-value">7/28/2025</div>
              </div>
              <div class="vline">.</div>
              <div class="date-row">
                <div class="date-label">CHECKOUT</div>
                <div class="date-value">8/4/2025</div>
              </div>
        </div>
      
      <div class="date-row last">
        <div class="date-label">GUESTS</div>
        <div class="date-value">1 guest</div>
      </div>
    </div>
    
    <button class="reserve-button" (click)="onReserve()">Reserve</button>
    
    <div class="footer">
      <div class="charge-note">You won't be charged yet</div>
    </div>
   
  </div>
  
  <a href="#" class="report-link">
    <i class="bi bi-flag-fill"></i>
    <span class="reportflag">Report this listing</span>
    </a>