<div class="container">
  <div class="navbar-container" [ngStyle]="{ 'margin-top.px': margin }">
    <button class="arrow" (click)="scrollLeft()">&lt;</button>

    <div #scrollContainer class="category-scroll d-flex overflow-auto">
      <div
        *ngFor="let category of categories"
        class="text-center px-3 category-item"
        [class.active]="selectedCategoryId === category.Id"
        (click)="selectCategory(category.Id)"
        style="cursor: pointer"
      >
        <i
          [class]="category.Name"
          style="
            font-size: 24px;
            padding-left: 10px;
            display: block;
            color: rgb(160, 159, 159);
          "
        ></i>
        <div class="category-name mt-1">{{ category.Description }}</div>
      </div>
    </div>

    <button class="arrow" (click)="scrollRight()">&gt;</button>
  </div>
</div>
