<p-toast></p-toast>

<div *ngIf="!isFullScreenRoute()">
  <app-ch *ngIf="isChatOpen && !isMobile" (toggleChat)="toggleChat()"></app-ch>
  <div class="container">
    <app-header></app-header>
    <pre style="height: 100px"></pre>
    <app-navbar></app-navbar>
    <app-chatbot
      *ngIf="isChatOpen && !isMobile"
      class="chat-modal"
    ></app-chatbot>

    <pre style="height: 40px" *ngIf="isMobile"></pre>
    <div class="router-container">
      <router-outlet></router-outlet>
    </div>
  </div>
  <app-footer *ngIf="!isMobile"></app-footer>
  <app-mobile-footer *ngIf="isMobile"></app-mobile-footer>
</div>

<div *ngIf="isFullScreenRoute()">
  <router-outlet></router-outlet>
</div>
