*
{
  font-family: sans-serif;
}
 .CardDetailscontainer
{
    padding: 10px 100px;
    font-size: 28px;
    font-weight: 500;
    position:relative;
  
}
/* .CardDetailscontainer {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;
  }  */
  
  .booking-model {
    position: sticky;
    top: 24px;
    align-self: flex-start;
    margin-left: 48px;
    width: 400px;
  }

.details-images {
    display: flex;
    gap: 10px;
    height: 350px;
    border-radius: 12px ;
    overflow: hidden;
  }
  
 
  .main-image {
    flex: 1;
    
  }
  
  .main-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: filter 0.3s ease;
   
  }
  .main-image img:hover{
    cursor: pointer;
    filter: brightness(70%);
  }
  
  .grid-images {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    grid-template-rows: repeat(2, 1fr) ;

    gap: 10px;
    padding: 0;
    
  }
  
  .grid-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    max-height: 166px; 
    transition: filter 0.3s ease;
   
  }
  .grid-item img:hover 
  {
    cursor: pointer;
    filter: brightness(70%);
  }

  .leftDes
  {
    width: 60%;
    line-height: 0.8;
    display: inline-block;
  }
  .description
  {
    font-size: 19px;
    color:#333;
    font-weight: 600;
  }

  .description-details
  {
    font-size: 17px;
    color:#333;
  }
  .des-span
  {
    text-decoration: underline;
  }
  .des-span:hover
  {
    cursor: pointer;
  }


  .line
{
   width: 93%;
   height: 1px;
   background-color: #eee ;
   border: none;
   margin: 30px 0;
}

.bookingModel
 {
/*
    display: inline-block;
    position:sticky;
    right: 0px;
    align-self: flex-start;
    height: fit-content; */
    position: sticky;
    top: 24px;
    align-self: flex-start;
    height: fit-content;
}

.second_part
{
    padding: 40px 0px;
    display: flex;
    gap: 95px;
}
 
.its-color
{
    color: gold;
    font-size: 20px;
}
.cub
{
    display: flex;
    padding-bottom: 15px;
    
}
.top
{
    font-size: 18px;
    line-height: 1px;
}
.icon-text
{
    padding-left: 30px;
    padding-bottom: 10px;
}
.top_description
{
    font-size: 14px;
    color: #666;
    line-height: 15px;
}
.text
{
    font-size: 16px;
    line-height: 22px;
    color: #333;
}
.bedImage {
    width: 330px;
    height: 210px;
    overflow: hidden; 
    border-radius: 8px; 
}
.bedImage:hover
{
    cursor: pointer;
}
.forHover
{
    cursor: pointer;
}
.bedImage img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    object-position: center; 
}
.towcolumns
{
    display: flex;
    flex-direction: row;
    gap: 50px;
    
}
.texticon
{
    padding-left: 20px;
}
.forheight
{
    line-height: 50px;
}
.rightcolumn
{
    width: 50%;
}

.booking-calendar {
    font-family: Arial, sans-serif;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
   
    padding: 20px;
   
  }
  .booking-duration {
    margin-bottom: 20px;
    text-align: center;
  }
  
  .duration {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .dates {
    font-size: 16px;
    color: #666;
  }
  .calendar-container {
    margin-bottom: 20px;
  }
  
  .month-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    font-weight: bold;
  }
  
  .weekdays {
    display: grid;
    grid-template-columns: repeat(15, 1fr);
    text-align: center;
    margin-bottom: 10px;
    font-size: 14px;
    color: #666;
  }
  .days {
    display: grid;
    grid-template-columns: repeat(14, 1fr);
    grid-gap: 5px;
    text-align: center;
  }
  
  .days span {
    padding: 8px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 12px;
  }
  
  .days span:hover:not(.empty, .selected) {
    background-color: #f5f5f5;
  }
  .selected {
    background-color: #000;
    color: white;
  }
  
  .empty {
    visibility: hidden;
  }
  
  .cleare
  {
    
    color: #333;
    display: flex;
    justify-content:end;
    text-align:end;
    font-size: 16px;
  }
  .reviews
  {
    display: flex;
    flex-direction: row;
    padding-bottom: 50px;
    
  }
  .one
  {
   padding: 0 10px 0 20px;
    border-right: #333;
    width: 150px;
    
  }
  
  .reviewelement
  {
    color: #444;
    font-size: 14px;
    line-height: 20px;
    font-weight: 600;
    padding-bottom: 10px;
  }
  .reviewelementrate
  {
    color: #444;
    font-size: 18px;
    line-height: 20px;
    font-weight: 600;
    padding-bottom: 10px;
  }
  .vline
  {
    width: 0.5px;
    background-color: #999;
    color:white;
  }
  .rate
  {
    font-size: 12px;
  }
  .dash
  {
    background-color: #333;
    width: 50px;
  }

  .vertical-rating {
    font-family: sans-serif;
    width: fit-content;
  }
  
  .rating-row {
    display: flex;
    align-items: center;
    margin-bottom: 6px;
  }
  
  .rating-row span {
    width: 20px;
    text-align: center;
    font-size: 10px;
    padding-right: 10px;
  }
  
  
  .bar {
    height: 4px;
    background-color: #ccc;
    border-radius: 4px;
  }
  
 
 
  .bar.full   { width: 100px; }
  
  
  .bar.dark {
    background-color: #111;
  }
  .details:hover
  {
    cursor: pointer;
  }
