<div class="CardDetailscontainer">
  <p class="title">Wanderlust at Firefly Treehouses</p>

  <div class="details-images">
    <div class="main-image">
      <img [src]="mainImage" alt="Main Image" />
    </div>

    <div class="grid-images">
      <div class="grid-item" *ngFor="let img of smallImages">
        <img [src]="img" alt="Small Image" />
      </div>
    </div>
  </div>

  <div class="second_part">
    <!-- Left Section -->
    <div class="leftDes">
      <p class="description">Treehouse in Crane Hill, Alabama, United States</p>
      <p class="description-details">
        2 guests · 1 bedroom · 1 bed · 1.5 baths
      </p>
      <p class="description">
        ★4.99
        <span class="des-span">· 442 reviews</span>
      </p>

      <hr class="line" />

      <div class="cub">
        <div class="Icon">
          <i class="bi bi-trophy-fill its-color"></i>
        </div>
        <div class="icon-text">
          <p class="top">Top 5% of homes</p>
          <p class="top_description">
            This home is highly ranked based on ratings, reviews, and
            reliability.
          </p>
        </div>
      </div>

      <div class="cub">
        <div class="Icon">
          <i class="bi bi-book-half"></i>
        </div>
        <div class="icon-text">
          <p class="top">Featured in</p>
          <div class="top_description">Beautiful Hotels, April 2021</div>
          <div class="top_description">Architectural Digest, January 2024</div>
        </div>
      </div>

      <div class="cub">
        <div class="Icon">
          <i class="bi bi-person-walking"></i>
        </div>
        <div class="icon-text">
          <p class="top">2-min walk to the lake</p>
          <div class="top_description">This home is by Lewis Smith Lake.</div>
        </div>
      </div>

      <hr class="line" />

      <div class="text">
        CHECK IN DAYS MWF Our very unique treehouse is nestled into the treetops
        on 40 acres of forest. Great for a couples retreat, honeymoon, or
        spiritual reconnecting. Get away from it all and enjoy the nature trails
        and 2 acre lake (seasonal at times) to pass the time and be able to
        really unwind. Sit and enjoy your morning coffee outside on the deck as
        you may be able to catch a peak at the deer.
      </div>

      <hr class="line" />
      <p class="description">Where you’ll sleep</p>
      <div class="bedImage">
        <img src="../../../../assets/Finalproject/Card1/2.jpeg" />
      </div>
      <div class="forHover">
        <p class="top pt-3">Bedroom</p>
        <p class="top_description">1 queen bed</p>
      </div>

      <hr class="line" />

      <p class="top" style="padding-bottom: 20px">What this place offers</p>
      <div class="towcolumns">
        <div class="rightcolumn">
          <div class="iconelement">
            <i class="bi bi-water"></i>
            <span class="top_description texticon">Lake access</span>
          </div>
          <div class="forheight">
            <i class="bi bi-car-front-fill"></i>
            <span class="top_description texticon"
              >Free parking on premises</span
            >
          </div>
          <div class="forheight">
            <i class="bi bi-droplet-half"></i>
            <span class="top_description texticon">Bathtub</span>
          </div>
          <div class="forheight">
            <i class="bi bi-door-open-fill"></i>
            <span class="top_description texticon"
              >Indoor fireplace: electric</span
            >
          </div>
          <div class="forheight">
            <i class="bi bi-fire"></i>
            <span class="top_description texticon">Fire pit</span>
          </div>
        </div>
        <div class="rightcolumn">
          <div class="iconelement">
            <i class="bi bi-cup-straw"></i>
            <span class="top_description texticon">Kitchen</span>
          </div>
          <div class="forheight">
            <i class="bi bi-snow"></i>
            <span class="top_description texticon"
              >AC - split type ductless system</span
            >
          </div>
          <div class="forheight">
            <i class="bi bi-cloud-sun"></i>
            <span class="top_description texticon"
              >Private patio or balcony</span
            >
          </div>
          <div class="forheight">
            <i class="bi bi-wind"></i>
            <span class="top_description texticon">Hair dryer</span>
          </div>
          <div class="forheight">
            <i class="bi bi-egg-fried"></i>
            <span class="top_description texticon">Microwave</span>
          </div>
        </div>
      </div>
    </div>

    <!-- Right Section (Booking Model) -->
    <div class="bookingModel">
      <app-room-booking-card (reserve)="onReserve()"></app-room-booking-card>
    </div>
  </div>
  <hr class="line" />

  <!-- <p class="details">★4.99 .442 reviews</p> -->
</div>
