<div class="profile-menu-container">
  <button class="profile-button" (click)="toggleMenu($event)">
    <svg
      viewBox="0 0 32 32"
      xmlns="http://www.w3.org/2000/svg"
      aria-hidden="true"
      role="presentation"
      focusable="false"
      style="
        display: block;
        fill: none;
        height: 16px;
        width: 16px;
        stroke: currentcolor;
        stroke-width: 3;
        overflow: visible;
      "
    >
      <g fill="none" fill-rule="nonzero">
        <path d="m2 16h28"></path>
        <path d="m2 24h28"></path>
        <path d="m2 8h28"></path>
      </g>
    </svg>
    <img
      [src]="
        user?.imageUrl
          ? displayImage()
          : 'https://a0.muscache.com/defaults/user_pic-50x50.png?v=3'
      "
      alt="User profile"
      class="profile-image"
    />
  </button>

  <div class="dropdown-menu" *ngIf="isMenuOpen">
    <div class="menu-container">
      <div *ngIf="!authService.isAuthenticated()">
        <a routerLink="/login" class="menu-item">Log in</a>
        <a routerLink="/register" class="menu-item">Sign up</a>
        <a routerLink="/wishlist" class="menu-item">Wishlists</a>
        <div class="divider"></div>
        <a routerLink="/help" class="menu-item">Help</a>
      </div>

      <div *ngIf="authService.isAuthenticated()">
        <a routerLink="/wishlist" class="menu-item">Wishlists</a>
        <a routerLink="/profile" class="menu-item">profile</a>

        <div class="divider"></div>
        <a routerLink="/login" class="menu-item" (click)="logout($event)"
          >Log out</a
        >
        <a routerLink="/help" class="menu-item">Help</a>
      </div>
    </div>
  </div>
</div>
