.filter-button {
    border-radius: 12px;
    padding: 8px 16px;
    border: 1px solid #ddd;
    font-weight: 500;
    white-space: nowrap;
    margin-left: 20px;
    margin-top: 70px;
    
  }
  .modal-content {
    max-height: 90vh;
    overflow: hidden;
  
  }
  
  .modal-body {
    overflow-y: auto;
  }
  
  .btn-group span {
    min-width: 40px;
    text-align: center;
    margin-left: 20px;
  }